{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Lista de Transações</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Filtros -->
    <div class="container mt-4">
        <form method="get" class="d-flex align-items-center" style="max-width: 400px;">
            <input type="date" name="start_date" class="form-control me-2" style="width: 150px;" placeholder="Data Inicial">
            <input type="date" name="end_date" class="form-control me-2" style="width: 150px;" placeholder="Data Final">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>

    <!-- Exibição do Gráfico -->
    <div class="mb-4 text-center">
        <img src="{% url 'finance:transaction_chart' %}" alt="Gráfico de Transações" class="img-fluid">
    </div>

    
    
    

    

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Transação</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>R$ {{ transaction.amount }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>
                        <a href="{% url 'finance:transaction_update' transaction.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{% url 'finance:transaction_delete' transaction.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Nenhuma transação cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% if is_paginated %}
        <div class="pagination justify-content-center mt-4">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="page-link">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}" class="page-link">Anterior</a>
            {% endif %}
    
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}" class="page-link">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
    
        
    </div>

</div>
{% endblock %}
